
extends layout


block content
    - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    
    h1 
        | #{month_names[fullmonth]} 
        | #{fullyear}
        span.thin  Archive
    
    //- p #{articles.length} posts
    
    hr

    each article in articles
        h2= article.title
        p!= article.intro
        hr
