
extends layout

block append vars
  - bodyclass = 'article-detail'

block title
  title= page.title

//- block header

block content
  if page.draft
    .draft
      h2 DRAFT
      span This post has not yet been published, probably for a good reason.
  //- include author
  //- include tags
  //- div(style="overflow:auto;")
  //-   h1= project.title
  //-     | 
  //-     span.caption= project.sub
  a(href=page.url)
    h2
      = page.title
      | 
      span.subtitle(title=page.date)= moment.utc(page.date).format('DD MMMM YYYY')

  //- p.author
  //-   //- | #{ "Written by " }
  //-   //- mixin author(page.metadata.author)
  //-   p= page.metadata.categories
    
  article.article
    section.content!= typogr(page.html).chain().amp().widont().smartypants().caps().initQuotes().value()


  div(style="text-align: right")
    ul.tags
      if page.metadata.tags
        - var tags = env.helpers.getTags()
        - var poplar = Object.keys(tags).sort(function(a, b){ return tags[b].length - tags[a].length }).slice(0, 100)
        - var median_size = tags[poplar[Math.floor(poplar.length / 2)]].length;
        - function tagsize(num) { return 10 + 10 * 1/(1+Math.exp(-(num - median_size)) ) }
        each tag in page.metadata.tags
          //- span= tags[tag].length
          if tag in tags && tags[tag].length > 1
            li
              a(href="/tag/"+tag, style="font-size: #{tagsize(tags[tag].length)}px")= "#"+tag
              | 
  br

  if project
    if project.related
      .splitter
        hr
        | related

      .hand
        each related in [project].concat(project.related)
          a.thumb(href=related.url)
            .caption 
              h2= related.title
              .sub= related.sub
            if related.pic
              +img(related.pic[0])
            else
              +img("/img/dog.jpg")

  //- .splitter
  //-   hr
  //-   | comments
  //- br

  //- <div id="disqus_thread"></div>
  //- script.
  //-     var disqus_shortname = 'antimatter15',
  //-         disqus_title = '#{page.title}',
  //-         disqus_url = '#{page.getUrl("https://antimatter15.com/")}';
  //-     (function() {
  //-         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  //-         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  //-         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  //-     })();
  //- <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


  hr
  div.nav
      a.newer(href='/archive') « Archives
      a.next(href='/page/1') Latest Posts »






//- block prepend footer
//-   div.nav
//-     a(href=contents.index.url) « Full blog
