extends layout

block content
  //- p= featured.title
  //- hr
  //- for article in articles
  //-   p= article.title

  style.
    .about { display: block !important; }

  .featured
    a(href=featured.url)
      h2= featured.title
        | 
        span.subtitle latest half-decent blog post, I hope
    .post


      .pic
        //- +img(featured.picture)
        +img(featured.picture)
        //- .caption
        //-   | I don't know if it's possible to specify a caption in markdown
          
      .text
        != typogr(featured.intro).typogrify().replace(/<\/p>\s*<p>\s*$/, ' ').replace(/<img .*?>/g, '') 
        a(href=featured.url) Read More ❯
    
  .splitter
    hr
    a(href="/page/1") posts 
    //- span(style="font-size: x-small; color: #999") &#9660;

  .filmstrip
    each article in articles.filter(function(e){return e != featured && !e.metadata.hidden && e.picture }).slice(0, 8)  
      a.thumb(href=article.url, title=article.title)
          +small(article.picture)

  //- .hand
  //-   each article in articles.filter(function(e){return e != featured && !e.metadata.hidden && e.picture }).slice(0, 6)
  //-     a(href=article.url)
  //-       .thumb
  //-         .caption 
  //-           h2= article.metadata.short || article.title
  //-           .sub= article.metadata.caption || article.title
  //-         if article.picture
  //-           //- +img(article.picture)
  //-           +img(article.picture)
  //-         else
  //-           //- +img("/img/cat.jpg")
  //-           +img("/img/cat.jpg")

    //- .thumb
    //-     img(src="http://i.imgur.com/fSgnUKW.jpg", style="height: 100%")

  ul.plain-text
    each article in articles.filter(function(e){return e != featured && !e.metadata.hidden }).slice(0, 12)
      li
        a(href=article.url)
          span.date(title=article.date)= moment.utc(article.date).format('DD MMMM YYYY')
          h2= article.metadata.short || article.title
          span= " "
          span.caption= article.metadata.caption || article.title
        
        

  .splitter(style="text-align:center")
    hr
    a(href="/projects") projects 
    //- span(style="font-size: x-small; color: #999") &#9660;

  .projects
    
    each project in contents['projects.yaml'].featured
      //- pre= inspect(project)
      .project
        a(href=project.url)
          h2= project.title
            | 
            span.caption= project.sub
        .cluster
          if project.subprojects
            .major
              a(href=project.url)
                if project.pic
                  +img(project.pic[0])
                else
                  +img("/img/brick.jpg")
              .caption!= project.caption
            .subprojects
              each subproject in project.subprojects
                if subproject.featured !== false
                  a.minor(href=subproject.url)
                    if subproject.pic
                      +small(subproject.pic[0])
                    else
                      +small("/img/dog.jpg")
                    .caption
                      h2= subproject.title
                      | 
                      span= subproject.sub
          else
            .major
              a(href=project.url)
                if project.pic
                  +img(project.pic[0])
                else
                  +img("/img/dog.jpg")
            .right
              if project.pic
                a(href=project.url)
                  +small(project.pic[1])
                  +small(project.pic[2])
                  +small(project.pic[3])
              .caption!= project.caption
      
  
