extends layout

block content
  //- p= featured.title
  //- hr
  //- for article in articles
  //-   p= article.title

  .featured
    a(href=featured.url)
      h2= featured.title
        | 
        span.subtitle latest half-decent blog post, I hope
    .post


      .pic
        img(src=im(featured.picture))
        //- .caption
        //-   | I don't know if it's possible to specify a caption in markdown
          
      .text!= typogr(featured.intro).typogrify().replace(/<img .*?>/g, '') 


  .splitter
    hr
    a(href="/page/1") posts 
    //- span(style="font-size: x-small; color: #999") &#9660;
  
  .hand
    each article in articles.filter(function(e){return e != featured}).slice(0, 6)
      a(href=article.url)
        .thumb
          .caption 
            h2= article.metadata.short || article.title
            .sub= article.metadata.caption || article.title
          if article.picture
            img(src=im(article.picture))
          else
            img(src=im("http://i.imgur.com/Bc0Zuq1.jpg"))

    //- .thumb
    //-     img(src="http://i.imgur.com/fSgnUKW.jpg", style="height: 100%")

  .splitter(style="text-align:center")
    hr
    a(href="/projects") projects 
    //- span(style="font-size: x-small; color: #999") &#9660;

  .projects
    
    each project in contents['projects.yaml'].featured
      //- pre= inspect(project)
      .project
        a(href=project.url)
          h2= project.title
            | 
            span.caption= project.sub
        .cluster
          if project.subprojects
            .major
              a(href=project.url)
                if project.pic
                  img(src=im(project.pic[0]))
                else
                  img(src=im("http://i.imgur.com/GzJp8PF.jpg"))
              .caption!= project.caption
            .subprojects
              each subproject in project.subprojects
                if subproject.featured !== false
                  a.minor(href=subproject.url)
                    if subproject.pic
                      img(src=im(subproject.pic[0]))
                    else
                      img(src=im("http://i.imgur.com/rwd8s1N.jpg"))
                    .caption
                      h2= subproject.title
                      | 
                      span= subproject.sub
          else
            .major
              a(href=project.url)
                if project.pic
                  img(src=im(project.pic[0]))
                else
                  img(src=im("http://i.imgur.com/GzJp8PF.jpg"))
            .right
              if project.pic
                a(href=project.url)
                  img(src=im(project.pic[1]))
                  img(src=im(project.pic[2]))
                  img(src=im(project.pic[3]))
              .caption!= project.caption
      
  
