doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)

      //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      //- link(href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic', rel='stylesheet', type='text/css')
      //- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
      link(rel='stylesheet', href='/style/main.css')
      //- <script src="//use.typekit.net/pqh5gly.js"></script>
      //- <script>try{Typekit.load();}catch(e){}</script>
      | !{ livereloadScript }

    block title
      title stuff by kevin kwok

  body

    include image.mixin.jade

    .whitebox
      .graybar.top
        header.top
          div.slogan
            | somewhere to talk about random ideas and projects like everyone else
          
          a(href='/')
            h1.logo 
              | stuff
              | 
              span.byline by antimatter15
          //- div.content-wrap
          //-   block header
          //-     div.logo
          //-       h1
          //-         a(href=locals.url)= locals.name
          //-         span.byline by antimatter15
          //-       p.description= locals.description
      
    
      div#main
        .sidebar
          .about
            p.emph
              | Hi. I’m <b>Kevin Kwok</b>, and I’m currently a junior at <b>MIT</b>, 
              | and this is my obligatory online presence or whatever.  
            //- p
            //-   | I've updated this site in some capacity since 2007, when I was a 6th grader. 
            //- p
            //-   | I regularly updated this site from 2007, when I started it in elementary school, 
            //-   | to summer 2014, when it was unwittingly absorbed into an international phishing ring.
            
            p
              | This is my little corner of the internet, where I talk about random projects and ideas and stuff. 

            //- p
            //-   | You can look around and see some of the 
            //-   a(href="/projects") projects 
            //-   | that I have worked on over the years, or check
            //-   | out some of the <a href="/page/1">posts</a> about
            //-   | random ideas that I have no right to talk about. 

            p
              | If you want to contact me or read obnoxiously nostalgic autobiographical trivia, check out the 
              a(href="/about")  about 
              | section.

            
            //- p
            //-   | But like a phoenix, hydra or the national deficit, the site is back 
            //-   | again bigger than ever (after a rather long gestation period).
            //- p
            //-   | For more obnoxious autobiographical content 
            //-   | blended with bits of nostalgia for the old PHP-on-sketchy-free-webhosting days, 
            //-   a(href="/about/") click here.
          //- hr
          br
          
          - var lineHeight = 2.2;
          - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
          -    return item.date.getFullYear()
          - }).value()
          - for (var archive in archives) {
          -   archives[archive] = _.groupBy(archives[archive], function(item){return item.date.getMonth();})
          - }
          - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
          section.archive
              a(href="/archive")
                h2 Archive
              ul
                  - var yearsK = _.chain(archives).keys().reverse().value()
                  - for(var year in yearsK)
                      - months = archives[yearsK[year]]
                      - var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
                      li
                          //- span.year-label=yearsK[year]
                          ul
                              - var monthsK = _.chain(months).keys().reverse().value()
                              - for(month in monthsK){
                                  - var monthHeight = lineHeight * months[monthsK[month]].length
                                  li
                                    a(href="/" + yearsK[year] + "/" + ("0" + (1 + parseInt(monthsK[month]) )).slice(-2) )
                                      //- span.month-label=month_names[monthsK[month]]
                                      span.month= month_names[monthsK[month]]
                                      | 
                                      span.year= yearsK[year]
                              - }
                          br

                              
          .tags
            h2 Tags

            //- each tag in env.helpers.getPopularTags()
            //-   span #{tag} 
            - var tags = env.helpers.getTags()
            - var poplar = Object.keys(tags).sort(function(a, b){ return tags[b].length - tags[a].length }).slice(0, 100)
            - var median_size = tags[poplar[Math.floor(poplar.length / 2)]].length;
            - function tagsize(num) { return 10 + 10 * 1/(1+Math.exp(-(num - median_size)) ) }
            each tag in poplar.sort(function(a, b){ return a.toLowerCase() > b.toLowerCase() ? 1 : -1})
              //- span= tags[tag].length
              a(href="/tag/"+tag, style="font-size: #{Math.round(tagsize(tags[tag].length))}px")= tag
                | 
                

        #content
          block content

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1367972-3', 'auto');
      ga('send', 'pageview');
      
    script.
      function squish(){
        document.getElementById("squishfoot").className += "squish"
      }
    style.
      .squish { font-size: 9px }
      .squishsquish { font-size: 8px }
      .squishsquishsquish { font-size: 7px }
      .squishsquishsquishsquish { font-size: 6px }
      .squishsquishsquishsquishsquish { font-size: 5px }
      .squishsquishsquishsquishsquishsquish { font-size: 4px }
      .squishsquishsquishsquishsquishsquishsquish { visibility: hidden }
    .graybar.bottom
      footer
        #squishfoot
          | I'm a tiny footer, please don't <a href="javascript:squish()">squish</a> me
      