extends layout

block content
  div(style="overflow:auto; margin-bottom: 30px")
    h1= project.title
      | 
      span.caption= project.sub

    if project.pic
      img(src="/"+project.pic[0], style="float:right; width: 400px")

    p !{project.caption}

  .splitter
    hr
    | related

  if project.related
    .hand
      each related in project.related
        a.thumb(href=related.url)
          .caption 
            h2= related.title
            .sub= related.sub
          if related.pic
            img(src="/"+related.pic[0])
          else
            img(src="http://i.imgur.com/rwd8s1N.jpg")

  .splitter
    hr
    | posts
  //- each subproject in project.related
  //-   .minor(style="overflow:auto")
  //-     if subproject.pic
  //-       img(src="/"+subproject.pic[0], style="float:left; width: 200px")
  //-     else
  //-       img(src="http://i.imgur.com/rwd8s1N.jpg", style="float:left; width: 200px")
  //-     .caption
  //-       h2= subproject.title
  //-       | 
  //-       span= subproject.sub
  //- hr

  each article in articles
    h2= article.title
    p!= article.intro
    hr
