extends layout

block content
  
    each projects, type in _.groupBy(contents['projects.yaml'].projects, 'type')
    
        h2= type
            |  
            span.caption= type
        .projectlist
            each project in projects
              .project
                a.minor(href=project.url)
                  if project.pic
                    img(src=im(project.pic[0]))
                  else
                    img(src=im("http://i.imgur.com/rwd8s1N.jpg"))
                  .caption
                    h2= project.title
                    | 
                    span= project.sub