extends layout

block title
    title Projects

block content
  
    each projects, type in _.groupBy(contents['projects.yaml'].projects, 'type')
    
        h2= type
            |  
            span.caption= type
        .projectlist
            each project in projects
              .project
                a.minor(href=project.url)
                  if project.pic
                    +img(project.pic[0])
                  else
                    +img("/img/dog.jpg")
                  .caption
                    h2= project.title
                    | 
                    span= project.sub