extends layout
include post

block title
  title= project.title

block content
  div(style="overflow:auto; margin-bottom: 30px")
    h1= project.title
      | 
      span.caption= project.sub

    if project.caption
      if project.pic
        .pic.right(style="width: 300px")
          +img(project.pic[0])

      p !{project.caption}
      if project.about
        hr
        p !{project.about}

      //- <iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>



  if project.related
    .splitter
      hr
      | related

    .hand
      each related in project.related
        a.thumb(href=related.url)
          .caption 
            h2= related.title
            .sub= related.sub
          if related.pic
            +img(related.pic[0])
          else
            +img("/img/dog.jpg")

  .splitter
    hr
    | posts
  br
    
  each article in articles
    mixin post(article)
    hr
